{% extends 'base.html' %}

{% block content %}


            <div class="row">
                <div class="cold-md-6" style="float:none; margin: 0 auto;">
                    <form method="POST" enctype="multipart/form-data">
                      <legend class="border-bottom mb-4" style="text-align:center;">{{title}}</legend>
                        <p> Mail gönderildi. Kısa bir süre içinde size ulaşacaktır.</p>
						<p>Eğer mail gelmediyse, lütfen doğru mail adresini girdiğinizden emin olun ve spam kutunuzada bakın.</p>
                        <hr>
                        <a href="{%url 'sistem:login' %}" class="btn btn-outline-dark btn-block">Geri Dön</a>
                    </form>
                </div>
        </div>

{% endblock %}